body {
    background-image: url("/img/priscilla-du-preez-ggeZ9oyI-PE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
